
version: '3.8'


services:


 zookeeper:
   image: confluentinc/cp-zookeeper:7.4.4
   container_name: zookeeper
   ports:
     - "22181:2181"
   environment:
     ZOOKEEPER_CLIENT_PORT: 2181
     ZOOKEEPER_TICK_TIME: 2000
   volumes:
    - zookeeper_data:/var/lib/zookeeper/data
    - zookeeper_log:/var/lib/zookeeper/log     
   networks:
     - proxynet


 kafka-0:
   image: confluentinc/cp-kafka:7.4.4
   container_name: kafka-0
   depends_on:
     - zookeeper
   ports:
     - "127.0.0.1:9094:29092"
   environment:
     KAFKA_BROKER_ID: 0
     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
     KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-0:9092,PLAINTEXT_HOST://127.0.0.1:9094
     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
     KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
   volumes:
     - kafka_0_data:/var/lib/kafka/data
   networks:
     - proxynet


 kafka-1:
   image: confluentinc/cp-kafka:7.4.4
   container_name: kafka-1
   depends_on:
     - zookeeper
   ports:
     - "127.0.0.1:9095:29092"
   environment:
     KAFKA_BROKER_ID: 1
     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
     KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092,PLAINTEXT_HOST://127.0.0.1:9095
     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
     KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
   volumes:
     - kafka_1_data:/var/lib/kafka/data
   networks:
     - proxynet


 kafka-2:
   image: confluentinc/cp-kafka:7.4.4
   container_name: kafka-2
   depends_on:
     - zookeeper
   ports:
     - "127.0.0.1:9096:29092"
   environment:
     KAFKA_BROKER_ID: 2
     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
     KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:9092,PLAINTEXT_HOST://127.0.0.1:9096
     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
     KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
   volumes:
     - kafka_2_data:/var/lib/kafka/data
   networks:
     - proxynet


 schema-registry:
   image: confluentinc/cp-schema-registry:7.4.4
   container_name: schema-registry
   ports:
     - "8081:8081"
   depends_on:
     - kafka-0
     - kafka-1
     - kafka-2
   environment:
     SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka-0:9092,PLAINTEXT://kafka-1:9092,PLAINTEXT://kafka-2:9092
     SCHEMA_REGISTRY_HOST_NAME: schema-registry
     SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
   networks:
     - proxynet


 postgres:
   image: debezium/postgres:16
   container_name: postgres
   hostname: postgres
   ports:
     - "5432:5432"
   environment:
     POSTGRES_USER: postgres-user
     POSTGRES_PASSWORD: postgres-pw
     POSTGRES_DB: customers
   volumes:
    - ./postgres/custom-config.conf:/etc/postgresql/postgresql.conf
   command: postgres -c config_file=/etc/postgresql/postgresql.conf     
   networks:
     - proxynet


 kafka-ui:
   image: provectuslabs/kafka-ui:v0.7.0
   container_name: kafka-ui
   restart: always
   ports:
     - "127.0.0.1:8085:8080"
   environment:
     KAFKA_CLUSTERS_0_NAME: zookeeper-cluster
     KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: kafka-0:9092
   networks:
     - proxynet


 kafka-connect:
   build:
     context: ./kafka-connect
   container_name: kafka-connect
   ports:
     - "8083:8083"
     - "9875:9875"
     - "9876:9876"
   depends_on:
     - kafka-0
     - kafka-1
     - kafka-2
     - schema-registry
     - postgres
   environment:
     CONNECT_BOOTSTRAP_SERVERS: kafka-0:9092
     CONNECT_REST_PORT: 8083
     CONNECT_GROUP_ID: kafka-connect
     CONNECT_REST_ADVERTISED_HOST_NAME: localhost


     CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
     CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
     CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1


     CONNECT_CONFIG_STORAGE_TOPIC: connect-config-storage
     CONNECT_OFFSET_STORAGE_TOPIC: connect-offset-storage
     CONNECT_STATUS_STORAGE_TOPIC: connect-status-storage


     CONNECT_KEY_CONVERTER: io.confluent.connect.avro.AvroConverter
     CONNECT_VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
     CONNECT_INTERNAL_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
     CONNECT_INTERNAL_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter


     CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081/
     CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081/


     KAFKA_JMX_PORT: 9875
     KAFKA_OPTS: "-javaagent:/opt/jmx_prometheus_javaagent-0.15.0.jar=9876:/opt/kafka-connect.yml"


     CONNECT_CONFIG_PROVIDERS: file
     CONNECT_CONFIG_PROVIDERS_FILE_CLASS: org.apache.kafka.common.config.provider.FileConfigProvider


     CONNECT_PLUGIN_PATH: /usr/share/java,/etc/kafka-connect/jars
   volumes:
     - ./confluent-hub-components/:/etc/kafka-connect/jars
   networks:
     - proxynet


 prometheus:
   image: prom/prometheus:v2.30.3
   container_name: prometheus
   ports:
     - "9090:9090"
   volumes:
     - ./prometheus:/etc/prometheus
   command: --web.enable-lifecycle --config.file=/etc/prometheus/prometheus.yml
   links:
     - kafka-connect
   networks:
     - proxynet


 grafana:
   build:
     context: ./grafana
   container_name: grafana
   ports:
     - "3000:3000"
   networks:
     - proxynet


networks:
 proxynet:
   name: custom_network


volumes:
 zookeeper_data:
 zookeeper_log:
 kafka_0_data:
 kafka_1_data:
 kafka_2_data: